.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;

  border-radius: 4px;
  width: 272px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;

  border-color: #808080;
}

.form-input:hover {
  border-color: #000000;
}

.form-button {
  width: 91px;
  height: 40px;
}
